  
<h1>{{username}}'s so called 'tech blog'
    {{#if loggedInUser}}
    {{#unless isMyPage}}

    {{/unless}}
    {{/if}}
</h1>
{{#if isMyPage}}
    <h3 class="container">Whats on your mind?</h3>
    <form class="container" id="newPostForm">
        <input class="container" id="newPostTitle" id="" cols="30" rows="10" placeholder="Title">
        <br>
       <textarea class="container"  id="newPostBody" id="" cols="30" rows="10" placeholder="ur dum thoughts"></textarea>
        <br>
      
    
        <button style="background-color: rgb(164, 169, 231); color:black" class="container">Share your 'unique' opinion!</button>
    </form>
    <br>
{{/if}}

{{#each Posts }}
    <div  class="container" class="blogPost">
        <div style="background-color: rgb(214, 235, 241);"><h3>{{../username}} on {{formattedDate}} at {{formattedTime}}</h3></div>
        
    <div style="background-color: lavender;">
         <h2>{{title}}</h2>
         <br>
         
        <h6>{{body}}</h6>
        <br>
      
        
        <h5>{{releaseDate}}</h5>
         <br>
  <br>
  {{#if ../isMyPage}}
  <button style="background-color: rgb(164, 169, 231); color:black" class="delPostBtn" data-id={{id}}>Delete</button>
   {{/if}}
    </div>
    <br>
    
    
    <div style="background-color: rgb(214, 235, 241);">
      <h4>Comments</h4>
        {{#if Comments.length}}
        {{#each Comments}}
            <p><strong><a href="/profile/{{User.id}}">{{User.username}}</a></strong> SCREAMS:"{{body}}"</p> 
        {{/each}}
        
        {{/if}}
        {{#unless Comments.length}}
            <p>No Comments yet!</p>
        {{/unless}}
         {{#if ../loggedInUser}}
     <form class="addCommentForm">
           <input class="commentBody" cols="30" rows="5" placeholder="SCREAM!">
           <input type="hidden" class="postid" value={{id}}>
           <button>Scream your opinion</button>
       {{/if}}
 
     </form>
    </div>
 
    </div>
  
    <br>
    <hr   style="color:#919090; background-color:#919090; height:32px; ">

{{/each}}
<script src="/js/profile.js"></script>
<script src="/js/commentBtn.js"></script>